<h1><%= @list.name %></h1>

<%= "Your list is empty!" if @list.movies.empty? %>


<%# <%= link_to "add a movie to the list", new_list_bookmark_path %>
<%# <%= link_to "delete this list", list_path(@list), method: :delete %>
